.button-board {
  .back-button {
    margin-top: 200px;
  }
  .widget-list {
    max-height: 74vh;
    overflow: scroll;
  }
  li.widget-item {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    &:hover {
      cursor: pointer;
      border: 2px solid lightgrey;
      border-radius: 3px;
      & span::after {
        font-family: FontAwesome;
        content: "\f138";
        color: black;
        right: 50px;
        position: absolute;
      }
    }
    span {
      width: 100%;
    }
  }
  .button-list {
    max-height: 80vh;
    overflow: scroll;
    ul li.button-item {
      list-style-type: none;
      margin-bottom: 30px;
      padding: 10px;
      &:hover {
        border: 2px solid #c7c4c4;
      }
      .button-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          list-style-type: none;
        }
        .action-content {
          width: 20%;
        }
        .text {
          width: 80%;
          .custom, .not-assigned {
            color: dodgerblue;
            font-weight: 600;
            font-size: 1.1em;
            & input {
              background-color: transparent;
              border: none;
              padding-left: 0px;
              opacity: 0.8;
              color: dodgerblue;
            }
          }
          .not-assigned {
            opacity: 0.6;
          }
          .default {
            color: #fff8dc;
            font-size: 0.9em;
          }
        }
        .number {
          display: flex;
          align-items: center;
          color: #c7c4c4;
        }
      }
    }
  }
  .save-spinner {
    background: url("../../img/updating.gif") center center no-repeat;
    background-color: #5F9EA0;
    width: 45px;
    height: 36px;
    border-radius: 5px;
  }
}